realthing
rpc
!/cmd/rpc
*.exe
!/internal/rpc
coverage
**/bin
**/obj
**/*.so
**/*.dll
**/*.h
**/launch.json
.nextVersion
.github/copilot-instructions.md
*.md
!README.md
!v3.0-changes.md
*.yaml
!config.yaml
node_modules