name: .NET

on:
  push:
    branches: [main, next, 2.x.x]
  pull_request:
    branches: [main, next, 2.x.x]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
      with:
        egress-policy: audit

    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: Setup .NET
      uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
      with:
        dotnet-version: 6.0.x
    - name: Build rpc as library
      run: go build -buildmode=c-shared -o rpc.so ./cmd/rpc   
    - name: Restore dependencies
      run: cd samples/dotnet && dotnet restore
    - name: Build
      run: cd samples/dotnet && dotnet build --no-restore

